# General
PORT=8080
CLIENT_DOMAIN=https://localhost:3000
# CLIENT_DOMAIN=*

# Database
MONGODB_URI=mongodb://localhost:27017/group-gains

# Better Auth
BETTER_AUTH_URL=http://localhost:8080
BETTER_AUTH_SECRET=br8dl1Wk9qCpPDAhdr0tiLS99FfQ4ukE

# OAuth
GOOGLE_CLIENT_ID==
GOOGLE_CLIENT_SECRET=

# Telegram
TELEGRAM_TOKEN=

# Paypal
PAYPAL_WEBHOOK_ID=

PAYPAL_CLIENT_ID=

PAYPAL_SECRET_KEY=

# Paddle
PADDLE_API_KEY=
PADDLE_PRODUCT_ID=
PADDLE_SUBSCRIPTION_WEBHOOK_SECRET_KEY=

# Resend
RESEND_API_KEY=